body {
	color: green;
}
h1 {
	font-size: 40px;
	text-aling: left;
	color: blue;
	font-size: 32px;
	text-aling: center;
}
th {
	backround-color: green;
	font-weight: bold;
	text-aling: center;
}
td {
	padding: 4px;
	border: 2px dashed gray;
}
